@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

:root {
  --fretboard-height: 400;
  --number-of-strings: 4;
  --string-height: 10;
  --half-string-height: calc(var(--string-height) / 2) ;
  --string-top-position: calc(var(--fretboard-height) / var(--number-of-strings) / 2 - var(--half-string-height))|;
  --double-fretmark-position-1: calc(var(--fretboard-height) * 0.25) ;
  --double-fretmark-position-2: calc(var(--fretboard-height) * 0.75) ;
}


*{
  margin: 0;
  padding: 0;
}


body{
  background: #353535;
  font-family: Lato, sans-serif;
}

.fretboard{
  display: flex;
  flex-direction: column;
  background: #be975b;
  width: 100%;
  height: calc(var(--fretboard-height) * 1px);
    margin-top: 50px;
}

.string{
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.string:before{
  content: '';
  width: 100%;
  height: calc(var(--string-height) * 1px);
  /* apply background linear gradeint: */
  background: linear-gradient(#eee 0%,#999 100%);
  box-shadow: 76px 3px 10px #806233;
  z-index: 1;
  position: absolute;
  top: 22px;
}

.note-fret {
  display: flex;
  flex: 1;
  border-right: 10px solid ;
  border-image: linear-gradient(to left, #777 0%, #bbb 50%, #777 100%) 1 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* selects every note-fret element that is the first child of its parent */
.note-fret:first-child{
background: #161717;
min-width: 76px;
border-right: 12px solid;
flex-grow: 0;
flex-shrink: 0;
border-image: linear-gradient(to left, #bbb 0%, #fff 50%, #bbb 100%) 1 100%;
 }

 /*
 Insert something before the content of each <note-fret> element
 */
 .note-fret:before {
  content: 'Db';
  width: 33px;
  height: 33px;
  border-radius: 50%;
  line-height: 33px;
  text-align: center;
  background: #d35400;
  z-index: 4;
  color: white;
  opacity: 0.6;
  ;
 }

 /* Since we already used :before on this node, we need to use after */
 /* Insert something after the content of each <single-fretmark> element */
.single-fretmark:after{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #444;

  top: calc(var(--fretboard-height) / 2 * 1px);
  transform: translate(0, -50%);
}


.double-fretmark:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #806233;
  top: calc(var(--double-fretmark-position-1) * 1px);
  transform: translate(-140%, -50%) ;
}

.double-fretmark:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #806233;
  top: calc(var(--double-fretmark-position-2) * 1px);
  transform: translate(-140%, -50%);
}
